* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  min-height: 100svh;
}

main {
  width: 540px;
  max-width: 540px;
}
main > * {
  border-radius: 1rem;
  padding: 1.5rem 2rem;
}

img {
  max-height: 100%;
  width: auto;
}

.brown-txt {
  color: hsl(25, 47%, 15%);
}

.balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(10, 79%, 65%);
  color: hsl(33, 100%, 98%);
  margin-bottom: 1rem;
}
.balance .label {
  margin-bottom: 0.4rem;
}
.balance .balance__amt {
  font-weight: 700;
  font-size: 2.05rem;
}

.details {
  background-color: hsl(33, 100%, 98%);
}
.details .label {
  color: hsl(28, 10%, 53%);
}
.details h1 {
  font-size: 2rem;
}
.details .details__chart-container {
  margin-bottom: 1.5rem;
}
.details .details__totals {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.5rem 0 1rem;
  border-top: 2px solid hsl(27, 66%, 92%);
}
.details .details__totals .value {
  font-size: 2.6rem;
  font-weight: 700;
}
.details .details__totals .totals-previous {
  text-align: right;
}
.details .details__totals .percntg {
  font-weight: 700;
}

.chart {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: flex-end;
  gap: 2px;
  margin-top: 3rem;
}
.chart .chart__day {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.92rem;
  cursor: pointer;
}
.chart .chart__day > div {
  transition: all 350ms;
}
.chart .chart__day:hover .chart__bar, .chart .chart__day:focus .chart__bar {
  opacity: 0.8;
}
.chart .chart__day:hover .chart__value, .chart .chart__day:focus .chart__value {
  opacity: 1;
}
.chart .chart__day:focus {
  outline: none;
}
.chart .chart__day.today .chart__bar {
  background-color: hsl(186, 34%, 60%);
}
.chart .chart__bar {
  background-color: hsl(10, 79%, 65%);
  width: calc(100% - 1rem);
  border-radius: 5px;
}
.chart .chart__value {
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
  opacity: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 560px) {
  main {
    padding: 0 1rem;
  }
  main > * {
    padding: 1.3rem;
  }
  .balance .label {
    font-size: 0.9rem;
  }
  .balance .balance__amt {
    font-size: 1.6rem;
  }
  .balance .balance__logo {
    height: 40px;
  }
  .details h1 {
    font-size: 1.5rem;
  }
  .details .details__totals .label {
    font-size: 0.91rem;
  }
  .details .details__totals .percntg {
    font-size: 0.95rem;
  }
  .details .details__totals .value {
    font-size: 1.95rem;
  }
  .chart .chart__day {
    font-size: 0.8rem;
  }
  .chart .chart__value {
    font-size: 0.6rem;
  }
  .chart {
    gap: 0.35rem;
    margin-top: 1rem;
  }
  .chart .chart__day {
    font-size: 0.8rem;
  }
  .chart .chart__bar {
    width: calc(100% - 0.35rem);
  }
  .chart .chart__value {
    padding-left: 0;
    padding-right: 0;
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=main.css.map */