// Primary Colours
$color-red: hsl(10, 79%, 65%);
$color-cyan: hsl(186, 34%, 60%);
// Neutral Colours
$color-brown-dk: hsl(25, 47%, 15%);
$color-brown-md: hsl(28, 10%, 53%);
$color-cream: hsl(27, 66%, 92%);
$color-orange-lt: hsl(33, 100%, 98%);

// Font
$font-weights: (
  "regular": 400,
  "bold": 700
);
$font-size: 18px;

// Chart Variables
$chart-gap: 1rem;
$bar-border-radius: 5px;